<app-top-bar></app-top-bar>

<div class="content-container">
    <form class="form">

        <div class="form-field-container">
            <div class="form-field">
                <label for="product" class="form-label">Product name:</label>
                <input type="text" placeholder="Insert the product name" id="product" class="form-input" />
            </div>
            <span class="alert invisible" id="product-none">Required input*</span>
        </div>
    
        <div class="form-field-container">
            <div class="form-field">
                <label for="barCode" class="form-label">Bar code:</label>
                <input type="text" placeholder="Insert the bar code" id="barCode" class="form-input" />
            </div>
            <span class="alert invisible" id="barCode-none">Required input*</span>
        </div>
    
        <div class="form-field-container">
            <div class="form-field">
                <label for="description" class="form-label">Description:</label>
                <input type="text" placeholder="Insert the description" id="description" class="form-input" />
            </div>
            <span class="alert invisible" id="description-none">Required input*</span>
        </div>
        <div class="form-field-container">
            <div class="form-field">
                <label for="image" class="form-label">Product image:</label>
                <input class="form-input" type="text" name="" id="image" placeholder="Insert the image">
            </div>
        </div>
        
        <div class="form-field-container">
            <div class="form-field">
                <label for="Qtd" class="form-label">Quantity:</label>
                <input type="number" class="form-input" placeholder="Insert the number of products" id="Qtd" />
            </div>
            <span class="alert invisible" id="Qtd-none">Required input*</span>
        </div>
        <div class="form-field-container">
            <div class="form-field">
                <label for="price" class="form-label">Price:</label>
                <input type="text" placeholder="insert the price" id="price" name="price"
                    class="form-input"/>
            </div>
            <span class="alert invisible" id="price-none">Required input*</span>
        </div>
    
        <div class="form-field-container">
            <div class="form-field">
                <label for="document" class="form-label">Store:</label>
                <select name="store" id="store" class="form-select" placeholder="Selet the store">
                    <option value="" disabled selected>Categorias</option>
                        <option value="">Todas</option>
                        <option value="{{categoria.cnpj}}" *ngFor="let categoria of stores">{{categoria.cnpj}}
                        </option>
                </select>
            
            </div>
            <span class="alert invisible" id="store-none">Required input*</span>
        </div>
    
        
        <div class="form-field-button">
            <button class="button-5 form-button" id="save" (click)="RegisterStock()">
                Save changes
            </button>
            <button class="button-5 form-button" id="reset" (click)="Cancel()">Cancel</button>
        </div>
    </form>
</div>



