.main-container{
  background-color: var(--Cor2);
  width: 1100px;
  height: 800px;
  margin-inline: auto;
  
  position: relative;
  border-radius: 10px;
}

.container-information{
  width: 50%;
  height: 100%;
  margin-left: auto;

  
  display: flex;
  flex-direction: column;
}

.purchase{
  margin-top: auto;
  margin-bottom: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-image{
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: -50px;
  background-color: gray;
  border-radius: 10px;
  width: 500px;
}

.image{
  position: relative;
  display: grid;
  place-items: center;
  height: 100%;
}

.photo{
  width: 500px;
}

.icon{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  cursor: pointer;
}

.name{
  color:var(--Cor3);
  margin-top: 60px;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 5px;
}

.description{
  color:var(--Cor1);
  margin-top: 100px;
}

.price{
  color:var(--Cor1);
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.price p{
  color:var(--Cor1);
  font-size: 2em;
}
.price h2{
  color:var(--Cor1);
  font-size: 5em;
}

