<app-top-bar></app-top-bar>

<div class="content-container">
    <div *ngIf="client">
    
        <div class="container-profile">
            <!-- <div class="photo"><img src={{client.photo}} alt=""></div> -->
            <div class="name">nome: {{client.name}}</div>
            <div class="email">email: {{client.email}}</div>
            <div class="phone">telefone: {{client.phone}}</div>
            <div class="birth">data nascimento: {{client.date_of_birth}}</div>
            <div class="document">documento: {{client.document}}</div>
        </div>
    </div>
</div>

