<div class="productsList" *ngIf="products">
  <div *ngFor="let product of products" >

    <div class="container">
      <img src="{{product.image}}" alt="">
  
      <a title="{{product.name}}" 
      [routerLink]="['/product/' + product.id]">
          <h1>{{product.name}}</h1>
      </a>
  
      <p>{{product.description}}</p>
  
      <div class="price">
          <h1>{{product.unit_price | currency}}</h1>
          <img src="https://s2.svgbox.net/hero-outline.svg?ic=x" alt="" (click)="RemoveWishList(product.idWishlist)">
      </div>
  </div>

  </div>
</div>
