.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.margin{
    margin-left: 2em;
    margin-right: 2em;
}

.position-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}